################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/LixChat/v15
/LixChat/bin/Debug/Data
/LixChat/bin/Debug/Emojis
/LixChat/bin/Debug/Plugins
/LixChat/bin/Debug/Emotes
/LixChat/bin/Debug/Cache.db
/LixChat/bin/Debug/System.Data.SQLite.dll
/LixChat/bin/Debug/settings.ini
/LixChat/bin/Debug/Newtonsoft.Json.xml
/LixChat/bin/Debug/Newtonsoft.Json.pdb
/LixChat/bin/Debug/Newtonsoft.Json.dll
/LixChat/bin/Debug/mpv.exe
/LixChat/bin/Debug/mpv-1.dll
/LixChat/bin/Debug/LixChat.vshost.exe.manifest
/LixChat/bin/Debug/LixChat.vshost.exe.config
/LixChat/bin/Debug/LixChat.vshost.exe
/LixChat/bin/Debug/LixChat.pdb
/LixChat/bin/Debug/LixChat.exe.config
/LixChat/bin/Debug/LixChat.exe
/LixChat/bin/Debug/Resources
/LixChat/Data/Emojis
/LixChat/Data/Plugins
/LixChat/Data/Resources
/LixChat/Data/System.Data.SQLite.dll
/LixChat/Data/Newtonsoft.Json.xml
/LixChat/Data/Newtonsoft.Json.pdb
/LixChat/Data/Newtonsoft.Json.dll
/LixChat/Data/mpv.exe
/LixChat/Data/mpv-1.dll
/LixChat/Data/LixChat.exe.config
/LixChat/Emojis
/LixChat/obj
/LixChat/Plugins
/LixChat/Resources/gronkh.gif
/LixChat/Resources/Whisper.db
/LixChat/Resources/updater.pdb
/LixChat/Resources/updater.exe.config
/LixChat/Resources/Newtonsoft.Json.xml
/LixChat/Resources/Newtonsoft.Json.pdb
/LixChat/Resources/Newtonsoft.Json.dll
/LixChat/Resources/mpv.vshost.exe.manifest
/LixChat/elec.txt
/LixChat/System.Data.SQLite.dll
/LixChat/Newtonsoft.Json.xml
/LixChat/Newtonsoft.Json.pdb
/LixChat/Newtonsoft.Json.dll
/LixChat/mpv.vshost.exe.manifest
/LixChat/mpv.vshost.exe.config
/LixChat/mpv.vshost.exe
/LixChat/mpv.exe.config
/LixChat/mpv-1.dll
/LixChat/zip.bat
/LX29_MPV_Frontend/LX29_MPV_Frontend/obj
/LX29_MPV_Frontend/LX29_MPV_Frontend/bin/Debug
/LX29_MPV_Frontend/LX29_MPV_Frontend/VideoInfo.cs
/updater/bin/Debug
/updater/obj
